version: '3'
services:
  app:
    image: your_app_image
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    volumes:
      - .:/app
    environment:
      - ENV_VAR=value
    command: npm start